<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>The Home Page! <%=4 + 5 + 1%></h1>
<p>
  Lorem ipsum dolor sit amet consectetur fadipisicing elit. Recusandae nobis
  magni ratione esse nam maiores, aperiam dolores? Laudantium consequatur
  dolores perspiciatis? Maxime magnam ab est ad optio quidem? Rerum, dolores?
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, eveniet
  tempora molestiae labore, ea sunt sequi officiis numquam aliquam quia possimus
  quasi id animi beatae ipsum voluptate nobis fugit facilis?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nobis
  magni ratione esse nam maiores, aperiam dolores? Laudantium consequatur
  dolores perspiciatis? Maxime magnam ab est ad optio quidem? Rerum, dolores?
</p>
<%- include('partials/footer') %>
